{% extends "base.html" %}
{% block title %}{% if is_edit %}Редактировать пост{% else %}Новый пост{% endif %}{% endblock %}
{% block content %}
{% load user_filters %}
  {% if is_edit %}
    <h1>Редактировать пост</h1>
  {% else %}
    <h1>Новый пост</h1>
  {% endif %}
  <style>
    form, h1, .lead {
      width: 70% !important;
      margin: auto;
    }
  </style>
  <form method="POST" 
    action={% if is_edit %}
             {% url 'posts:post_edit' post_id %}
           {% else %}
             {% url 'posts:post_create' %}
           {% endif %}
    enctype="multipart/form-data"
  >
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group row my-3"
      aria-required="false"
    >
      <label for="{{ field.id_for_label }}">
        {{ field.label }}
          {% if field.field.required %}
            <span class="required text-danger">*</span>
          {% endif %}
      </label>
        {{ field|addclass:'form-control' }} 
    </div>
  {% endfor %}
  {% for field, errors in form.errors.items %}
    {% for error in errors %}
      <p>{{ error }}</p>
    {% endfor %}
  {% endfor %}
    <div class="col-md-6 offset-md-4">
    {% if is_edit %}         
      <button type="submit" class="btn btn-primary">
        Сохранить
      </button>
    {% else %}
      <button type="submit" class="btn btn-primary">
        Добавить
      </button>
    {% endif %}
    </div>
  </form>
{% endblock %}