{% extends 'base.html' %}
{% block title %} Профайл пользователя {% include 'includes/name_or_fullname.html' %}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Все посты пользователя {% include 'includes/name_or_fullname.html' %}</h1>
    <p>Всего постов {{ count }}</p>
    {% if user != author %}
    {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
        Подписаться
      </a>
   {% endif %}
   {% endif %}
    <article>
      {% for post in page_obj %}
        {% include 'includes/card_author.html' %}
    </article>
    {% endfor %}
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}